*  @astronomer/astro-cli-maintainers

/software/ @astronomer/astro-cli-maintainers-apc @astronomer/houston-api-maintainers
/cmd/software/ @astronomer/astro-cli-maintainers-apc @astronomer/houston-api-maintainers
