.astro/
.DS_Store
.env
.idea/
.vscode/
airflow/pod-config.yml
astro
astro-cli
cover.out
coverage.txt
dist/
meta/
packages.txt
requirements.txt
testbin/golangci-lint
vendor/github.com/theupdateframework/notary/Dockerfile
airflow_settings_dev.yaml