*.test
.astro/
.DS_Store
.env
.idea/
.vscode/
airflow/docker-compose.yaml
airflow/Dockerfile
airflow/pod-config.yml
airflow_settings*
astro
astro-cli
cmd/dags/.airflowignore
cover.out
coverage-2.txt
coverage.txt
dist/
hello-astro/
meta/
packages.txt
requirements.txt
sagemaker-batch-inference.py
testbin/
testbin/golangci-lint
upgrade-test*
vendor/github.com/theupdateframework/notary/Dockerfile
