---
exclude: '(vendor|.vscode)'  # regex
repos:
  - repo: local
    hooks:
      - id: gofumpt
        name: gofumpt
        types: [go]
        language: system
        entry: 'gofumpt -w'
      - id: golangci-lint
        name: golangci-lint
        types: [go]
        language: system
        entry: go run github.com/golangci/golangci-lint/cmd/golangci-lint run --timeout 15m0s
        pass_filenames: false
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-xml
      - id: check-yaml
        exclude: 'airflow/include/composeyml.yml'
        args: ['--allow-multiple-documents']
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: file-contents-sorter
        args: ['--ignore-case']
        files: '^\.gitignore$'  # regex
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: no-commit-to-branch
        args: ['-b', 'main']
      - id: pretty-format-json
        args: ['--autofix', '--no-ensure-ascii']
      - id: sort-simple-yaml
      - id: trailing-whitespace
        exclude: '.*_test.go$'  # regex
  - repo: https://github.com/lovesegfault/beautysh
    rev: v6.2.1
    hooks:
      - id: beautysh
        args: ['--indent-size', '2']
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
  - repo: https://github.com/astronomer/pre-commit-hooks
    rev: 37614dad793bbbdea699c63c8b341ce1e2bf855a
    hooks:
      - id: CVE-2017-18342
      - id: replace-en-dashes
      - id: replace-unicode-non-breaking-spaces
      - id: remove-unicode-zero-width-non-breaking-spaces
      - id: remove-unicode-zero-width-space
