---
# https://yamllint.readthedocs.io/en/stable/configuration.html#default-configuration
extends: default

ignore: |
  vendor
  airflow/include/composeyml.yml

rules:
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  line-length: disable
  truthy: disable
  comments-indentation: disable
  indentation:
    spaces: 2
    indent-sequences: whatever
