*  @neel-astro @jeremybeard @kushalmalani @sunkickr

/cmd/*.go @neel-astro @jeremybeard @kushalmalani @sunkickr @lzdanski
/software/ @karankhanchandani @pgvishnuram @rujhan-arora-astronomer
/cmd/software/ @karankhanchandani @pgvishnuram @rujhan-arora-astronomer
