# This file allows you to configure Airflow Connections, Pools, and Variables in a single place for local development only.
# NOTE: If putting a dict in conn_extra, please wrap in single quotes.

# For more information, refer to our docs: https://www.astronomer.io/docs/cloud/stable/develop/customize-image#configure-airflowsettingsyaml
# For issues or questions, reach out to support@astronomer.io

airflow:
  connections:
    - conn_id: 'local_postgres'
      conn_type: 'postgres'
      conn_host: 'postres.host'
      conn_schema: 'postges.shcema'
      conn_login: 'postgres.login'
      conn_password: 'postgres.pass'
      conn_port: 5432
      conn_extra:
        database: test
        account: test
  pools:
    - pool_name: 'pool_name'
      pool_slot: 3
      pool_description: 'pool_desc'
  variables:
    - variable_name: 'email_list'
      variable_value: 'test@test.com'
